﻿.mdl-card {
    overflow: visible;
}

.grecaptcha-logo {
    background-color: white;
}

.mdl-grid {
    max-width: 1024px;
    margin: auto;
}

.mdl-layout__header-row {
    padding: 0;
}

.quickstart-user-details-container, .user-details-container {
    margin-top: 20px;
    line-height: 25px;
}

#quickstart-sign-in-status, #sign-in-status {
    font-weight: bold;
}

#verification-code-form {
    display: none;
}

#recaptcha-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

#verify-code-button, #cancel-verify-code-button {
    margin-left: 20px;
}

#sign-out-button {
    display: none;
}

#sign-in-card {
    z-index: 2;
}
