﻿@model RegisterViewModel
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@{
    ViewData["Title"] = Localizer["Login / Register"];
}

<h2>@ViewData["Title"].</h2>

<h4>@Localizer["Create a new account."]</h4>
<hr />
<input type="hidden" id="ReturnUrl" value="@ViewData["ReturnUrl"]">
<div id="login-form" class="row">
    <div class="col-md-8">
        <section>

            <form id="sign-in-form" action="#">
                <input type="text" class="form-control" style="padding-right: 68px;" pattern="\+[0-9\s\-\(\)]+" id="phone-number" placeholder="Phone number">
                <button id="sign-in-button" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                <div class="register-link m-t-15 text-center">
                </div>
            </form>
            <h1 id="sign-in-status"></h1>
            <button id="sign-out-button" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign Out</button>
            <form id="verification-code-form" action="#">
                <div class="form-group">
                    <input id="verification-code" placeholder="Enter the verification code..." class="form-control" />
                </div>
                <div class="form-group">
                    <div class="button-list">
                        <button id="verify-code-button" value="Verify Code" type="submit" style="width:140px" class="btn btn-group-left btn-success m-b-10 m-l-5" disabled>VERIFY CODE</button>
                        <button id="cancel-verify-code-button" style="width:100px" class="btn btn-group-right btn-danger m-b-10 m-l-5">CANCEL</button>
                    </div>
                </div>
            </form>

        </section>
    </div>
</div>


<div id="sign-up-form" style="display:none" class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="AccountId" class="col-md-4 col-form-label">@Localizer["Phone Number"]</label>
                <div class="col-md-8">
                    <input readonly id="registration-phone-number" style="padding-right: 68px" asp-for="AccountId" class="form-control" />
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-md-4 col-form-label">@Localizer["Email"]</label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FullName" class="col-md-4 col-form-label">@Localizer["Full name"]</label>
                <div class="col-md-8">
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-md-4 col-md-8">
                    <button type="submit" class="btn btn-primary">@Localizer["Register"]</button>
                    <p>Using a different Phone Number ? <a onclick="return onSignOutClick()" id="cancel-sign-up" href="@Url.Action("Loginorregister")"> Cancel</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
